@import url('https://fonts.googleapis.com/css?family=Cabin:600&display=swap');
.errors {
    color: #c20051;
    
}

#signin-content {
    display: flex;
    flex-flow: column;
    border-radius: 400px;
    max-width: 50vw;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    align-self: center;
    padding: 4vw 10vh;
    background-image: url('/static/img/escheresque-dark.png');
}

#register-box {
    color:#414141;
    flex: 1 20%;
}

.signin-child {
    background-color: rgba(255, 255, 255, 0.547);
    padding: 10px;
    margin: 10px;
}

#register-box a {
    color: #6400c2;
}

.register-title {
    color: #414141;
}

#login-box {
    color: #414141;
    display: flex;
    flex-flow: column wrap;
}

#signup-box {
    color: #414141;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    min-width: 30%;
}

.field-label {
    font-size: 0.8em;
}

.register-field {
    min-width: 80%;
}

#login-form {
    flex: 5 60%;
}

#registration-form {
    flex: 10 80%;
}

#feedback-form {
    background-color: rgba(255, 255, 255, 0.547);
    color: #414141;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
    flex: 90%;
}

label {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 6px;
}

#form-button {
    cursor: pointer;
    padding: 12px 20px;
    font-size: x-large;
    font-family: 'Cabin';
    border: none;
    margin-top: 8px;
}

input[type=submit] {
    background-color: #3700ff31;
    color: #FFF;
}

input[type=submit]:hover {
    background-color: rgb(43, 69, 216);
}

input[value=Clear] {
    background-color: rgba(255, 127, 80, 0.555);
    color: #FFF;
}

input[value=Clear]:hover {
    background-color: rgb(255, 127, 80);
}

#comments {
    height: 50%;
    flex: 6vw;
    font-family: Cabin;
    color: rgba(52, 52, 54, 0.904);
    background-color: rgba(255, 255, 255, 0.445);
}

#visitor-category {
    font-size: 1em;
    font-family: Cabin;
    border: 1px solid #202020;
    border-radius: 4px;
    padding: 8px;
}

#login-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    height: 80vh;
}

#buttons {
    margin: 10px 0;
    display: flex;
}

#buttons input{
    flex: 50%;
    margin: 0 2px;
}

@media (max-width: 1000px) {
    #buttons input {
        margin: 0;
    }
}