#table-row{
    display: flex;
    text-align: left;
    padding: 0.5em;
    border-bottom: 1px solid black;
    margin: 2px;
    justify-content: space-between;
}

#table-header{
    display: flex;
    text-align: left;
    padding: 0.5em;
    border-bottom: 1px solid black;
    margin: 2px;
    justify-content: space-between;
    font-weight: bold; 
    color: white;
}

.table-content{
    padding: 0em 2em;
    
}

#content .lec-box-title {
    color: white;
    text-align: center;
}

.links {
    font-size: 14px;
}

.col-title {
    padding: 0 13px;
}

.first-row {
    font-weight: bold;
    color: white;
}

.col-title h7 {
    font-size: 18px;
}

.box{
    padding: 0% 1%;
	margin: 0% 3%;
	max-height: 500px;
	background-color: #8E443D;
}

#lectures {
    height: 85%;
    overflow: auto;
    flex: 50%;
}

h7 {
    font-size: 13px;
}

#feedback{
    overflow: auto;
}

#other {
    flex-basis: 33%;
}

@media (max-width:1200px) {
    #other {
        flex-basis: 100%;
    }
}