::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:#82b8f5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}