<!DOCTYPE html>
<html>
<head>
	<title>CSCB20 Home Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=0.7">
	<link rel="stylesheet" type="text/css" href="static/css/index.css">
	<link rel="stylesheet" type="text/css" href="static/css/scrollbar.css">
	<link rel="stylesheet" type="text/css" href="static/css/form.css">
</head>
<body>
	<nav>
		<ul class="categories">
			<li class="cat_item">
				<a href="/" class="cat_link">Home</a>
			</li>
			<li class="cat_item">
				<a href="/calendar" class="cat_link">Office Schedule</a>
			</li>
			<li class="cat_item">
				<a href="/class-resources" class="cat_link">Class Resources</a>
			</li>
			<li class="cat_item">
				<a href="https://piazza.com/class/k5l8ww7kz8l6f0" target="_blank" class="cat_link">Discussion Board</a></
			</li>
			<li class="cat_item">
				<a href="/logout">Log out</a>
			</li>
		</ul>
	</nav>

	<div id="main">
		<div id="sidebar">
			<div id="contact" class="sidebar-child">
				<h3 class="content-title" style="text-align: left;">Instructor Information</h3>
				<h4>Email: <a href="#">bretscher@utsc.utoronto.ca</a></h4>
				<h4>Office: IC 493</h4>
				<h4>Phone: (416) 208-4745</h4>
				<h4>Lectures:	Mondays 9:15-11:00 in HW 216</h4>
				<h4>Office Hours: Wednesday 11:00-12:00</h4>
				<img src="static/css/img/Anna_Bretscher.jpg" style="order: -100">
			</div>
			<div id="news" class="sidebar-child">
				<h3 class="content-title" style="margin-top: 3px;">News</h3>
				<div class="news-item">
					<h4>Assignment 3 Posted!</h4>
					<p>03/14/2020</p>
					<p>Assignment 3 is now posted on the resources page, please read through the handout carefully</p>
				</div>
				<div class="news-item">
					<h4>Midterm Marks now on Markus</h4>
					<p>03/04/2020</p>
					<p>Midterm marks are now available on Markus, read through the solutions before asking for a regrade! The link to Markus is available in the Resources page</p>
				</div>
				<div class="news-item">
					<h4>Midterm Mark Room Assignment</h4>
					<p>02/18/2020</p>
					<p>Room assignment for the upcoming miderm is now posted here: <a href="#">Room Assignment</a></p>
				</div>
				<div class="news-item">
					<h4>Change in Office Hours</h4>
					<p>03/04/2020</p>
					<p>The Professor will be unable to hold OH normal times this week, please feel free to refer to you TA's in the meantime</p>
				</div>
			</div>
		</div>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
  </div>
  <div id="footer">
	<p><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UTSC</a></p>
	<p>Site Design by Ali Hasan and Youssef Iskander</p>
  </div>

</body>
</html>