{% extends "base.html"%}

{% block content %}
<div class="content-child">
    {% if is_student %}
    <h2 class="content-title">Provide your instructors feedback!</h2>
    <form method="POST" action="{{ url_for('feedback') }}">
    <div id="feedback-form">
        <div class="form-field">
            <h3 class="field-label">{{ form.instructor.label }}</h3>
            {{ form.instructor(id="visitor-category")}}
        </div>
        <div class="form-field">
            <h3 class="field-label">{{ form.q1.label }}</h3>
            {{ form.q1(id="visitor-category")}}
        </div>
        <div class="form-field">
            <h3 class="field-label">{{ form.q2.label }}</h3>
            {{ form.q2(id="visitor-category")}}
        </div>
        <div class="form-field">
            <h3 class="field-label">{{ form.q2.label }}</h3>
            {{ form.q3(id="visitor-category")}}
        </div>
        <div class="form-field">
            <h3 class="field-label">{{ form.q4.label }}</h3>
            {{ form.q4(id="visitor-category")}}
        </div>
        <input type="submit" value="Submit">
    </div>
    </form>
    {% else %}

    {% endif %}

</div>
{% endblock %}
