{% extends "base.html"%}

{% block content %}
<div class="content-child">
    {% if is_student is true %}
    <div id="feedback-form">
        <label for="instructor">ID of the instructor you are evaluating</label>
        <input type="text" name="instructor" id="comments">

        <label for="q1">What do you like about the instructor teaching?</label>
        <input type="text" name="q1" id="comments">

        <label for="q1">What do you recommend the instructor to do to improve their teaching?</label>
        <input type="text" name="q2" id="comments">

        <label for="q1">What do you like about the instructor's assignments and testing material?</label>
        <input type="text" name="q3" id="comments">

        <label for="q1">Do you believe you are being properly evaluated on your knowledge in this course?</label>
        <input type="text" name="q4" id="comments">

        <input type="submit" value="Submit">
        <input type="submit" value="Clear">
    </div>
    {% else %}
    <h2 class="content-title">Here is the feedback submitted by students</h2>

    {% for key, feedback in all_feedback.items() %}
    <div class="box">
        <h7 class="content-title"><br>What do you like about the instructor teaching?<br></h7>
        <h7>{{ feedback['q1'] }} <br></h7>

        <h7 class="content-title"><br>What do you recommend the instructor to do to improve their teaching?<br></h7>
        <h7>{{ feedback['q2'] }} <br></h7>

        <h7 class="content-title"><br>What do you like about the instructor's assignments and testing material?<br></h7>
        <h7>{{ feedback['q3'] }} <br></h7><br>

        <h7 class="content-title">Do you believe you are being properly evaluated on your knowledge in this course?<br></h7>
        <h7>{{ feedback['q4'] }} <br></h7>
        <br>
        <br>
        <br>
    </div>
    {% endfor %}
    {% endif %}

</div>
{% endblock %}
