{% extends "base.html"%}

{% block content %}
{% if is_student %}
<div class="content-child">
    <h2 class="content-title">Provide your instructors feedback!</h2>
    <form id="feedback-form" method="POST" action="{{ url_for('feedback') }}">
        <div class="form-field">
            <h3 class="field-label">{{ form.instructor.label }}</h3>
            {{ form.instructor(id="visitor-category")}}
        </div>
        <div class="form-field">
            <h3 class="field-label">{{ form.q1.label }}</h3>
            {{ form.q1(id="visitor-category")}}
        </div>
        <div class="form-field">
            <h3 class="field-label">{{ form.q2.label }}</h3>
            {{ form.q2(id="visitor-category")}}
        </div>
        <div class="form-field">
            <h3 class="field-label">{{ form.q2.label }}</h3>
            {{ form.q3(id="visitor-category")}}
        </div>
        <div class="form-field">
            <h3 class="field-label">{{ form.q4.label }}</h3>
            {{ form.q4(id="visitor-category")}}
        </div>
        <input id="form-button" type="submit" value="Submit">
        <input id="form-button" type="button" onclick="clear_form('feedback-form')" value="Clear">
        <script src="{{ url_for('static', filename='scripts/clear.js') }}"></script>
    </form>
</div>
{% else %}
<h1 class="content-title centered">Here is the feedback submitted by students</h1>

{% for key, feedback in all_feedback.items() %}
<div class="content-child">
    <h7 class="content-title"><br>What do you like about the instructor teaching?<br></h7>
    <h7>{{ feedback['q1'] }} <br></h7>

    <h7 class="content-title"><br>What do you recommend the instructor to do to improve their teaching?<br></h7>
    <h7>{{ feedback['q2'] }} <br></h7>

    <h7 class="content-title"><br>What do you like about the instructor's assignments and testing material?<br></h7>
    <h7>{{ feedback['q3'] }} <br></h7><br>

    <h7 class="content-title">Do you believe you are being properly evaluated on your knowledge in this course?<br></h7>
    <h7>{{ feedback['q4'] }} <br></h7>
</div>
{% endfor %}
{% endif %}

</div>
{% endblock %}
