{% extends "base.html" %}

{% block content %}
<h1 class="content-title centered">CSCB20 - Introduction to Databases and Web Applications</h2>

<div id="description" class="content-child">
	<h2 class="content-title">Course Description</h3>
	<p class="desc-paragraph">A practical introduction to databases and Web app development. Databases: terminology and applications; creating,
	querying and updating databases; the entity-relationship model for database design. Web documents and applications:
	static and interactive documents; Web servers and dynamic server-generated content; Web application development and
	interface with databases.</p>
	<p><a href="{{ url_for('static', filename='files/content.pdf') }}" class="content-link">Syllabus</a></p>
	{% if is_student is true %}
	<p>Submit anonymous feedback <a href="/feedback">here</a></p>
	{% else %}
	<p>Review your feedback <a href="/feedback"> here</a></p>
	{% endif %}
</div>

<div class="content-child">
	<h2 class="content-title">COVID-19 Info</h2>
	<p>Understandably, there have been a lot of questions and concerns regarding the COVID-19 pandemic. The latest updates regarding the course can be found <a class="content-link" href="https://piazza.com/class/k5l8ww7kz8l6f0?cid=179">here. </a>Future updates will be found on quercus.</p>
	<p>For more general information, visit the Government of Canada's <a class="content-link" href="https://www.canada.ca/en/public-health/services/diseases/2019-novel-coronavirus-infection.html">official page</a> on COVID-19.</p>
</div>

<div class="content-child">
	<h2 class="content-title">Events Outside CSCB20</h3>
		<ul class="content-list">
		<li class="content-list-item">
			<h2><a href="https://www.utsc.utoronto.ca/thebridge/utsc-hackathon" class="content-link">#TheBRIDGEHack</a></h2>
			<p>At The BRIDGE Hack, students will collaboratively develop unique ideas, designs, or solutions to sports management problems experienced by the University of Toronto Varsity Blues. Students will have the opportunity to hack on problems related to fan attendance and engagement. A variety of outcomes are acceptable, including business plans, presentations, low fidelity prototypes, data analysis or models, or web or mobile applications.</p>
		</li>
		<li class="content-list-item">
			<h2><a href="https://utsc.utoronto.ca/news-events/events/get-hired-conference-2020" class="content-link">2020 Get Hired Conference</a></a></h2>
			<p>Get Hired is an interactive, award-winning annual conference offered by the Academic Advising & Career Centre (AA&CC). It is designed to equip upcoming and recent U of T graduates with the necessary strategies, tools, skills and confidence to find and keep work.</p>
		</li>
		</ul>
</div>

{% endblock %}
