{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lectures.css') }}">
{% endblock %}
{% block content %}

<h1 class="content-title centered">Lecture Schedule</h1>
<div id="lectures" class="content-child">
	<h2 class="lec-box-title">Lectures</h2>
	<!-- header div --->
	<div id="table-row" style="font-weight: bold; color: white;">
		<div class="table-content">
			<h7>Week</h7>
		</div>
		<div class="table-content">
			<h7>Topic</h7>
		</div>
		<div class="table-content">
			<h7>Lab</h7>
		</div>
	</div>

	<div id="table-row">
		<div class="table-content">
			<h7>1</h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">Introduction to the Course</a></h7>
		</div>
		<div class="table-content">
			<h7>-</h7>
		</div>
	</div>

	<div id="table-row">
		<div class="table-content">
			<h7>2</h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">Diagrams and Relational Algebra</a> </h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">Lab 1</a></h7>
		</div>
	</div>

	<div id="table-row">
		<div class="table-content">
			<h7>3</h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">Diagrams and Relational Algebra</a> </h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">Lab 2</a></h7>
		</div>
	</div>

	<div id="table-row">
		<div class="table-content">
			<h7>4</h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">SQL and MySQL</a> </h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">Lab 3</a></h7>
		</div>
	</div>

	<div id="table-row">
		<div class="table-content">
			<h7>5</h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">SQL queries, creating and editing tables</a> </h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">Lab 4</a></h7>
		</div>
	</div>

	<div id="table-row">
		<div class="table-content">
			<h7>6</h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">MySQL Join Types, Views</a> </h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">Lab 5</a></h7>
		</div>
	</div>

	<div id="table-row">
		<div class="table-content">
			<h7>7</h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">Intro to HTML, CSS</a></h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">Lab 6</a></h7>
		</div>
	</div>
	<div id="table-row">
		<div class="table-content">
			<h7>8</h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">Intro to PHP</a> </h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">Lab 7</a></h7>
		</div>
	</div>
	<div id="table-row">
		<div class="table-content">
			<h7>9</h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">PHP and SQL</a> </h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">Lab 8</a></h7>
		</div>
	</div>
	<div id="table-row">
		<div class="table-content">
			<h7>10</h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">JS, Query</a></h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">Lab 9</a></h7>
		</div>
	</div>
	<div id="table-row">
		<div class="table-content">
			<h7>11</h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">jQuery, AJAX, JSON</a></h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">Lab 10</a></h7>
		</div>
	</div>
	<div id="table-row">
		<div class="table-content">
			<h7>12</h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">Past Final Exam</a> </h7>
		</div>
		<div class="table-content">
			<h7><a href="files/content.pdf" target="_blank">Lab 11</a></h7>
		</div>
	</div>
</div>

<div id="other">
	<div id="assignments" class="content-child">
		<h2 class="lec-box-title">Assignments</h2>
		<div id="table-row" style="font-weight: bold; color: white;">
			<div class="table-content"><h7>Assignment</h7></div>
			<div class="table-content"><h7>Weight</h7></div>
			<div class="table-content"><h7>Due Date</h7></div>
		</div>
		<div id="table-row">
			<div class="table-content"><h7><a href="content.pdf">Assignment 1</a></h7></div>
			<div class="table-content"><h7>10%</h7></div>
			<div class="table-content"><h7>February 29</h7></div>
		</div>
		<div id="table-row">
			<div class="table-content"><h7><a href="content.pdf">Assignment 2</a></h7></div>
			<div class="table-content"><h7>15%</h7></div>
			<div class="table-content"><h7>March 15</h7></div>
		</div>
		<div id="table-row">
			<div class="table-content"><h7><a href="content.pdf">Assignment 3</a></h7></div>
			<div class="table-content"><h7>15%</h7></div>
			<div class="table-content"><h7>March 29</h7></div>
		</div>
		<p class="links"><a href="https://markus-old.utsc.utoronto.ca/cscb20w19" target="_blank">Markus</a>,	<a href="files/content.pdf" target="_blank">A1 Solutions</a>, <a href="files/content.pdf" target="_blank">A2 Solutions</a></p>
	</div>

	<div id="resources" class="content-child">
		<h2 class="lec-box-title">Resources</h2>
		<ul class="content-list">
			<li class="content-list-item"><a href="https://piazza.com/class/k5l8ww7kz8l6f0" target="_blank">Piazza</a></li>
			<li class="content-list-item"><a href="https://www.stackoverflow.com" target="_blank">Stack Overflow</a></li>
			<li class="content-list-item"><a href="https://www.facebook.com/AMACSSUTSC/" target="_blank">AMACSS UTSC</a></li>
			<li class="content-list-item"><a href="https://code.tutsplus.com/articles/sql-for-beginners--net-8200" target="_blank">MySQL Beginner Tutorial</a></li>
		</ul>
	</div>
</div>
{% endblock %}