{% extends "signin_skeleton.html" %}

{% block signin_form %}


<div id="signin-content">
    <form id="login-form" method="POST" action="{{url_for('login')}}">
    <div id="login-box" class="signin-child">
        <div class="form-field">
            <h2 class="field-label">{{ form.user_id.label }}</h2>
            {{ form.user_id(id="visitor-category", placeholder="Enter ID") }}
        </div>
        <div class="form-field">
            <h2 class="field-label">{{ form.user_pw.label }}</h2> 
            {{ form.user_pw(id="visitor-category", placeholder="Enter Password")}}
        </div>
        <input id="form-button" type="submit" value="Login">
        <input id="form-button" type="button" onclick="clear_form('login-form')" value="Clear">
    </div>
    </form>

    <script src="{{ url_for('static', filename='scripts/clear.js') }}"></script>

    <div id="register-box" class="signin-child">
        <h2 class="register-title">Don't have an account?</h2>
        <h3><a href="{{url_for('not_registered')}}">Register here</a></h3>
    </div>
</div>
{% endblock %}