{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="static/css/lectures.css">
{% endblock %}

{% block content %}
<div class="content-child">
    <div id="table-row">
        <div class="table-content">
            <h7>Student ID</h7>
        </div>
        <div class="table-content">
            <h7>Name</h7>
        </div>
        <div class="table-content">
            <h7>A1</h7>
        </div>
        <div class="table-content">
            <h7>A2</h7>
        </div>
        <div class="table-content">
            <h7>A3</h7>
        </div>
        <div class="table-content">
            <h7>Labs</h7>
        </div>
        <div class="table-content">
            <h7>Midterm</h7>
        </div>
        <div class="table-content">
            <h7>Final</h7>
        </div>
    </div>
    <!-- if student-->
    {% if is_student == true %}
    <div id="table-row">
        <div class="table-content">
            <h7> {{ student_info['SID']}} </h7>
        </div>
        <div class="table-content">
            <h7> {{ student_info['Name']}} </h7>
        </div>
        <div class="table-content">
            <h7> {{ student_info['A1']}} </h7>
        </div>
        <div class="table-content">
            <h7> {{ student_info['A2']}} </h7>
        </div>
        <div class="table-content">
            <h7> {{ student_info['A3']}} </h7>
        </div>
        <div class="table-content">
            <h7> {{ student_info['Labs']}} </h7>
        </div>
        <div class="table-content">
            <h7> {{ student_info['Midterm']}} </h7>
        </div>
        <div class="table-content">
            <h7> {{ student_info['Final']}} </h7>
        </div>
    {% else %}
    {% for key, student in all_students.items() %}
        <div id="table-row">
            <div class="table-content">
                <h7> {{ student['SID']}} </h7>
            </div>
            <div class="table-content">
                <h7> {{ student['Name']}} </h7>
            </div>
            <div class="table-content">
                <h7> {{ student['A1']}} </h7>
            </div>
            <div class="table-content">
                <h7> {{ student['A2']}} </h7>
            </div>
            <div class="table-content">
                <h7> {{ student['A3']}} </h7>
            </div>
            <div class="table-content">
                <h7> {{ student['Labs']}} </h7>
            </div>
            <div class="table-content">
                <h7> {{ student['Midterm']}} </h7>
            </div>
            <div class="table-content">
                <h7> {{ student['Final']}} </h7>
            </div>
        </div>
    {% endfor %}
    {% endif %}
    </div>

<div class="content-child">
{% if is_student == true %}
    <h2 class="content-title">Submit a Remark Request Here</h2>
    <form method="POST" action="/marks"></form>
    <div id="feedback-form">
        <label for="remark">What do you want remarked?</label>
        <select id="visitor-category" name="remark">
            <option value="a1">Assignment 1</option>
            <option value="a2">Assignment 2</option>
            <option value="a3">Assignment 3</option>
            <option value="midterm">Midterm</option>
            <option value="other">Other</option>
        </select>

        <label for="comments">Explanation</label>
        <input type="text "id="comments" name="comments" placeholder="Why would you like a remark?" name="explanation" required>
        <input type="submit" value="Submit">
        <input type="submit" value="Clear">
    </div>
    </form>
{% else %}
    <h2 class="content-title">Here are the remark requests submitted by students:</h2>
{% endif %}
</div>
{% endblock %}
