{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lectures.css') }}">
{% endblock %}

{% block content %}
<div class="content-child">
    <h1 class="content-title centered">Grades</h1>
    <div id="table-row" class="head">
        <div class="table-content col-title">
            <h7>Student ID</h7>
        </div>
        <div class="table-content col-title">
            <h7>Name</h7>
        </div>
        <div class="table-content col-title">
            <h7>A1</h7>
        </div>
        <div class="table-content col-title">
            <h7>A2</h7>
        </div>
        <div class="table-content col-title">
            <h7>A3</h7>
        </div>
        <div class="table-content col-title">
            <h7>Labs</h7>
        </div>
        <div class="table-content col-title">
            <h7>Midterm</h7>
        </div>
        <div class="table-content col-title">
            <h7>Final</h7>
        </div>
    </div>
    <!-- if student-->
    {% if is_student == true %}
    <div id="table-row">
        <div class="table-content">
            <h7> {{ student_info['SID']}} </h7>
        </div>
        <div class="table-content">
            <h7> {{ student_info['Name']}} </h7>
        </div>
        <div class="table-content">
            <h7> {{ student_info['A1']}} </h7>
        </div>
        <div class="table-content">
            <h7> {{ student_info['A2']}} </h7>
        </div>
        <div class="table-content">
            <h7> {{ student_info['A3']}} </h7>
        </div>
        <div class="table-content">
            <h7> {{ student_info['Labs']}} </h7>
        </div>
        <div class="table-content">
            <h7> {{ student_info['Midterm']}} </h7>
        </div>
        <div class="table-content">
            <h7> {{ student_info['Final']}} </h7>
        </div>
    </div>
    {% else %}
    {% for key, student in all_students.items() %}
        <div id="table-row">
            <div class="table-content">
                <a href="{{ url_for('edit_marks', student_id=key) }}"><h7> {{ student['SID']}} </h7></a>
            </div>
            <div class="table-content">
                <h7> {{ student['Name']}} </h7>
            </div>
            <div class="table-content">
                <h7> {{ student['A1']}} </h7>
            </div>
            <div class="table-content">
                <h7> {{ student['A2']}} </h7>
            </div>
            <div class="table-content">
                <h7> {{ student['A3']}} </h7>
            </div>
            <div class="table-content">
                <h7> {{ student['Labs']}} </h7>
            </div>
            <div class="table-content">
                <h7> {{ student['Midterm']}} </h7>
            </div>
            <div class="table-content">
                <h7> {{ student['Final']}} </h7>
            </div>
        </div>
    {% endfor %}
    {% endif %}
    </div>
</div>

<div class="content-child">
{% if is_student == true %}
    <h2 class="content-title">Submit a Remark Request Here</h2>
    <form id="feedback-form" method="POST" action="/marks">
        <div class="form-field">
            <h2 class="field-label">{{ form.assignment.label }}</h2>
            {{ form.assignment(id="visitor-category") }}
        </div>
        <div class="form-field">
            <h2 class="field-label">{{ form.explanation.label }}</h2> 
            {{ form.explanation(id="visitor-category") }}
        </div>
        <input id="form-button" type="submit" value="Submit">
        <input id="form-button" type="button" onclick="clear_form('feedback-form')" value="Clear">
    </form>
    <script src="{{ url_for('static', filename='scripts/clear.js') }}"></script>
{% else %}
    <h2 class="content-title">Here are the remark requests submitted by students:</h2>
    <br>
    {% for key, remark in all_remarks.items() %}
    <div class="student-request">
        <h7 class="content-title">Remark Request for {{ remark['remark'] }} by {{ remark['request_user'] }} <br></h7>
        <h7>Reason: {{ remark['explanation'] }} <br></h7>
        <h7>Request ID: {{ remark['request_id'] }} <br></h7>
    </div>
    {% endfor %}
{% endif %}
</div>
{% endblock %}
