{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/schedule.css') }}">
{% endblock %}

{% block content %}
<div id="content">

	<h1 class="content-title" style="text-align: center;">Schedule</h1>
	<div id="schedule" class="content-child">
	<!--  
		<img src="img/calendar.png" alt="">
	-->
		<iframe src="https://calendar.google.com/calendar/embed?height=700&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FToronto&amp;src=MDdqczk4OW1hcXBiOWxlMHVzc2djdTZxcThAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23A79B8E&amp;showTitle=0&amp;showNav=1&amp;showPrint=1&amp;showTabs=1&amp;showTz=1&amp;showCalendars=0" style="border-width:0" width="900" height="700" frameborder="0" scrolling="no"></iframe>
	</div>
</div>
{% endblock %}