{% extends "signin_skeleton.html" %}
{% block signin_form %}

{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

<div id="signin-content">
    <form id="registration-form" method="POST" action="{{url_for('signup')}}">
    <div id="login-box" class="signin-child">

    </div>
    </form>
</div>
{% endblock %}