<!DOCTYPE html>
<html>
<head>
	<title>CSCB20 Home Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=0.7">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div id="login-container">
	{% with messages = get_flashed_messages() %}
	{% if messages %}
		<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	{% endwith %}

	{% if form.errors %}
		<ul class="errors">
			{% for field_name, field_errors in form.errors|dictsort if field_errors %}
				{% for error in field_errors %}
					<li>{{ form[field_name].label }}: {{ error }}</li>
				{% endfor %}
			{% endfor %}
		</ul>
	{% endif %}

    {% block signin_form %}

    {% endblock %}
</div>
</body>